$body_bg:#292A2B;//body 颜色
$header_bg:#121212; //header 颜色
$header_height:4rem; // header 高度
$header_title_size:1.6rem;//header font-size
$roadAssist_h2_size:1.6rem;// 道路救援title font-size
$assistDetails_size:1.6rem;
$white_color:#fff;

